{{yield}}
<h4>{{answer.content}} <span class=delete-x {{action 'delete' answer}}><img class="xIcon" src="./../../assets/images/redX.png" alt= "X"> Delete answer</span></h4>
<p>By {{answer.commenter}}</p>
