{{yield}}
<div class="question-entry">
  <h4>{{question.question}}</h4>
  <p class="author">By {{question.author}}</p>
  <!-- {{#link-to 'question' question.id}}<button class="btn">Update question</button>{{/link-to}} -->
</div>
