{{yield}}
<div class="question-entry">
  <hr>
  <p class="author">{{question.author}} asks:</p>
  <h4>{{question.question}}</h4>
  <!-- {{#link-to 'question' question.id}}<button class="btn">Update question</button>{{/link-to}} -->
</div>
