{{yield}}
<div class="question-entry">
  <hr>
  <p class="author">{{question.author}} asks:</p>
  {{#link-to 'question' question.id}}<h4>{{question.question}}</h4>{{/link-to}}
  <!-- {{update-question question=question update="update"}} -->
  <!-- {{#link-to 'question' question.id}}<button class="btn">Update question</button>{{/link-to}} -->
</div>
