header {
  .nav {
    padding-left: 40px;
    background-color: rgb(203, 209, 219);
  }

  h1 {
    margin-top: 0px;
    padding: 10px 40px 0px 0px;
    text-align: center;
    font-size: 5em;
    font-weight: 300;
  }
}

.btn {
  margin-top: 10px;
}

body {
  background-image: url("images/message.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 1000px;
}

.question-detail {
  margin-top: 150px;
  h3 {
    line-height: .3em;
  }
}

.notes {
  line-height: 2.5em;
}

form {
  width: 70%;
}
.question-list {
  margin-top: 170px;
}

.new-question {
  margin-top: 170px;
}

.trans-white {
  background-color: rgba(255, 255, 255, .5);
}
