<header>
  <div id="header">
    <h1>Message Board</h1>
    <ul class="nav nav-tabs">
      <li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li role="presentation">{{#link-to 'new-question'}}Ask question{{/link-to}}</li>
    </ul>
  </div>
</header>
<div class="container">
  {{outlet}}
</div>
